<li class="color<%= color %>" style="display:block">
  <% if node["sub_nodes"].empty? %>
    <img src="http://asset.rubini.us/empty.png"/>
    <%= prec %> (<%= self_prec %>%) <%= name %>!
  <% else %>
    <% if depth > 20 %>
      <img class="toggle" src="http://asset.rubini.us/plus.png">
      <% ul_style="display: none" %>
    <% else %>
      <img class="toggle" src="http://asset.rubini.us/minus.png">
      <% ul_style="" %>
    <% end %>

    <%= prec %> (<%= self_prec %>%) <%= name %>!
    <ul style="<%= ul_style %>">
    <% sub_nodes(node, data).reverse_each do |s_id| %>
      <%= print_node(s_id, data, depth + 1) %>
    <% end %>
    </ul>
  <% end %>
</li>
