<!DOCTYPE html>
<html>
  <head>
    <title>Profiler Output from <%= file %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style type="text/css">
      <%= css %>
    </style>

    <script type="text/javascript">
      <%= js %>
    </script>
  </head><body>
    <div id="titlebar">
      Call tree for application <b>/Users/evan/.gem/ruby/1.8/bin/ruby-prof </b><br/>
      Generated on Mon Mar 28 20:42:29 -0700 2011 with options {:min_percent=&gt;0}<br/>
    </div>
    <div id="commands">
      <span style="font-size: 11pt; font-weight: bold;">Threshold:</span>
      <input value="1.0" size="3" id="threshold" type="text">
      <input value="Apply" onclick="setThreshold();" type="submit">
      <input value="Expand All" onclick="expandAll(event);" type="submit">
      <input value="Collapse All" onclick="collapseAll(event);" type="submit">
      <input value="Show Help" onclick="toggleHelp(this);" type="submit">
    </div>
    <div style="display: none;" id="help">
      <img src="http://asset.rubini.us/empty.png"> Enter a decimal value <i>d</i> into the threshold field and click "Apply"
      to hide all nodes marked with time values lower than <i>d</i>.<br>
      <img src="http://asset.rubini.us/empty.png"> Click on "Expand All" for full tree expansion.<br>
      <img src="http://asset.rubini.us/empty.png"> Click on "Collapse All" to show only top level nodes.<br>
      <img src="http://asset.rubini.us/empty.png"> Use a, s, d, w as in Quake or Urban Terror to navigate the tree.<br>
      <img src="http://asset.rubini.us/empty.png"> Use f and b to navigate the tree in preorder forward and backwards.<br>
      <img src="http://asset.rubini.us/empty.png"> Use x to toggle visibility of a subtree.<br>
      <img src="http://asset.rubini.us/empty.png"> Use * to expand/collapse a whole subtree.<br>
      <img src="http://asset.rubini.us/empty.png"> Use h to navigate to thread root.<br>
      <img src="http://asset.rubini.us/empty.png"> Use n and p to navigate between threads.<br>
      <img src="http://asset.rubini.us/empty.png"> Click on background to move focus to a subtree.<br>
    </div>
    <% data.inject("") do |acc, th_data| %>
    <div class="thread">Thread <%= th_data['thread_id'] %></div>
    <ul name="thread">
      <% th_data["roots"].each do |n_id| %>
      <%= print_node(n_id, th_data) %>
      <% end %>
    </ul>
    <% end %>

    <div id="sentinel"></div>
  </body>
</html>
